<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>cuplefashion</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/library/magnific-popup-master/dist/magnific-popup.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="/styles/uikit/uikit.css" />
  <link href="/styles/site.css" rel="stylesheet">
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
</head>

<body>
  {{>nav}}
  {{{body}}}
  {{>footer}}


  <script src="/js/jquery/jquery-1.11.3.min.js"></script>
  <script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
  <!-- UIkit JS -->
  <script src="/js/uikit/uikit.js"></script>
  <script src="/js/uikit/uikit-icons.js"></script>
  <script src="/js/site/main.js"></script>


  {{!-- Firebase auth config --}}
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyCUWwhrBJeN7rDTUAZ0G2N8dDftJK47Zbo",
      authDomain: "login-63897.firebaseapp.com",
      databaseURL: "https://login-63897.firebaseio.com",
      projectId: "login-63897",
      storageBucket: "login-63897.appspot.com",
      messagingSenderId: "986984805875"
    };

    firebase.initializeApp(config);
  </script>
  {{!-- ================================ --}}


</body>

</html>