<!-- Used login layout form -->

<div class="container">
    <br><br><br>
    <br><br><br>
    <br><br><br>
    <h1 style="text-align: center; font-size: 30px; font-weight: bold;">forgot your password?</h1>
    <br><br><br>
    <p class="textstyle" style="font-size:19px">Let us know what email address you use to sign in and we'll send you
        and
        email with
        instructions.</p>
    <br>
    {{#if messages.warning}}
    <div class="alert alert-danger flash-message">
        {{messages.warning}}
    </div>
    {{/if}}
    <form class="form-horizontal" action='/forgotpassword' method='post' name="loginForm">
        <br><br>
        <div class="form-group">
            <label class="label_font control-label hidden-lg hidden-md col-lg-2">email address</label>
            <div class="col-lg-12">
                <input class="form-control" type="text" name="inputEmail" id="inputEmail" placeholder="email address">
            </div>
        </div>
        <br>
        <center>
            <button type="submit" class="btn btn-signin btn-block">send</button>
        </center>
    </form>

    <br><br><br>
    <!-- Cancel button -->
    <div class="signIn" style="text-align: center;">
        <label>Already know your password?</label>
        <a href='/login' style="color: #e69f66; background: none;">Sign In</a>

    </div>

    <br><br>
</div>
</div>
</div>