<hr />
<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- row -->
      <center>
        <!-- widgets column left -->
        <ul class="list-unstyled clear-margins">
          <!-- widgets -->
          <li>
            <!-- widgets list -->
            <ul class="term-policy-contact">
              <li class="widget-nav-menu-ul-li text-capitalize"><a class="widget-nav-menu-ul-li-a" id="term" href="/">terms
                  of use</a></li>
              <li class="widget-nav-menu-ul-li text-capitalize"><a class="widget-nav-menu-ul-li-a" id="term" href="/">privacy
                  policy</a></li>
              <li class="widget-nav-menu-ul-li text-capitalize"><a class="widget-nav-menu-ul-li-a" id="term" href="/">contact</a></li>
            </ul>
          </li>
        </ul>
      </center>
    </div><!-- widgets column left end -->

    <center>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- widgets column center -->
        <ul class="list-unstyled clear-margins">
          <!-- widgets -->
          <li>
            <!-- widgets list -->
            <div>
              <ul class="nomargin">
                <a href="https://www.facebook.com/kdk5810/"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.instagram.com/kdk5810/"><i class="fa fa-instagram fa-3x social-tw" id="social"></i></a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/"><i class="fa fa-youtube-square fa-3x social-em" id="social"></i></a>
              </ul>
            </div>
          </li>

        </ul>
      </div>

      <div class="copyright col-xs-12">Copyright © 2018 CUPLE All Rights Reserved.</div>
    </center>
  </div>
</footer>