<div class="container">
  <div id="pixlee_container"></div>
</div>

<script type="text/javascript">window.PixleeAsyncInit = function () { Pixlee.init({ apiKey: 'TDJ2723H5PHu4erRbFbB' }); Pixlee.addSimpleWidget({ widgetId: '13123' }); };</script>
<script src="//instafeed.assets.pixlee.com/assets/pixlee_widget_1_0_0.js"></script>