<nav class="navbar navbar-default  navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


      <!--   <img style="max-width:55px; margin-top: -7px;"
         src="/images/logo.png"> -->

      <a class="navbar-brand" rel="home" href="/"> Cuple
      </a>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        {{!--
        below code meaning : if (locals.section === 'projects')
        which means, if user access main.js route
        which means, if user enters home page

        // :
        .. but why nav bar changes based on which page user enters?
        maybe you're planning to change to whether user log in or not?
        --}}
        {{!--
        // :
        please use readable names that each others can easily understand
        --}}
        <li><a href="/products">PRODUCTS</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li><a href="/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>s